.nav {
  margin: 50px;
}
.nav ul {
  list-style: none;
}
.nav ul li {
  float: left;
}
.nav ul li span {
  width: 60px;
}
.nav ul li span a {
  padding-right: 50px;
}
.box {
  text-align: center;
}
.box .logo {
  margin: 0 auto;
  width: 150px;
}
.box img {
  width: 150px;
}
.box form p input[type="text"] {
  width: 250px;
  margin-bottom: 15px;
}
.box form p input[type="submit"] {
  border-radius: 10px;
}
