border-radius()
    -webkit-border-radius arguments 
    -moz-border-radius arguments 
    border-radius arguments
fonts =  Helvetica,Arial ,sans-serif
body 
    font 12px fonts

a.button
    border-radius(5px)    

div 
    display inline-block
    div     
        position relative
        .wrapper
                color: red
                span 
                    line-height: 2
        span 
            line-height: 3            